<div>

<h1>Purchase #<%= @purchase.id %></h1>

Quantity: <%= @purchase.quantity %>
<br />
Address: <%= @purchase.delivery_address %>
<br />
<%# TODO: Format the date time to make it more readable %>
Purchased at: <%= @purchase.created_at %>
<br />
<br />

<%# TODO: Open purchases#edit page %>
<%= link_to 'Edit', '' %>

&nbsp;&nbsp;

<%# TODO: Make a DELETE request to purchases#destroy %>
<%= link_to 'Delete', '' %>

</div>

<br />

<h2>Review</h2>

<%# TODO: Display the review here --DONE-----%>
<% if @purchase.review_exist? %>
	<% @purchase.reviews.each do |review| %>
  Rating: <%= review.rating %><br>
  Comment: <%= review.comment %><br>
  Created at: <%= review.created_at %>
  
 <% end %>
<% else %>
  <%= link_to 'Give a Review', new_purchase_review_url(@purchase) %>
  <%#= link_to 'Give a Review', new_review_url(review: { purchase_id: @purchase.id }) %>
<% end %>

</div>
